@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;
  --section-background-color-dark: #1F2937;
  --color-muted-dark: #1F2937;
  --link-color: #E5E7EB;
  --footer-secondary-color: #E5E7EB;
  --action-color: #3882F6;
  --container-max-width: 1200px;
  --section-padding: 2rem;
  --font-size: 16px;
  --hero-secondary-text-font-size: 18px;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}

a,
a:focus,
a:visited {
  text-decoration: none;
  color: var(--link-color);
}

.button {
  --button-border-radius: 0.5rem;
  --button-padding: 0.5rem 1.5rem;
  --button-color: #F9FAF8;

  background-color: var(--action-color);
  color: var(--button-color);
  border: 1px solid var(--action-color);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  cursor: pointer;
}

.section {
  --padding: var(--section-padding);
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--padding);
}

.navbar,
.section-hero,
footer {
  background-color: var(--section-background-color-dark);
}

/* Header */
header {
  --header-logo-color: #F9FAF8;
  --header-secondary-text-color: #E5E7EB;
  --header-logo-font-size: 24px;
  --navbar-link-gap: 0.5rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
}

.navbar a {
  color: var(--header-secondary-text-color);
  font-size: var(--header-secondary-font-size);
  padding: var(--navbar-link-gap);
}

.navbar .logo {
  color: var(--header-logo-color);
  font-size: var(--header-logo-font-size);
}

.navbar .navbar-links {
  display: flex;
  gap: 1rem;
}

/* Hero Section */
.section-hero {
  --hero-secondary-text-color: #E5E7EB;
  --hero-primary-heading-color: #F9FAF8;
}

.section-hero .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.section-hero .hero-left p {
  color: var(--hero-secondary-text-color);
  font-size: var(--hero-secondary-text-font-size);
}

.section-hero .hero-left h1 {
  color: var(--hero-primary-heading-color);
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0;
}

/* Features Section */
.section-features {
  --section-features-text-color: #1f2937;
  --section-features-font-size: 24px;
  --section-features-box-border: 2px solid var(--action-color);
  --section-features-box-border-radius: 0.5rem;
  --section-features-box-size: 200px;
}

.section-features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.section-features .features-title {
  text-align: center;
}

.section-features .feature-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.section-features .feature-grid .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-features .feature-grid .feature p {
  max-width: var(--section-features-box-size);
}

.section-features .feature-box {
  color: var(--section-features-text-color);
  border: var(--section-features-box-border);
  border-radius: var(--section-features-box-border-radius);
  width: var(--section-features-box-size);
  height: var(--section-features-box-size);
}

/* Quote Section */
.section-quote {
  --section-quote-background-color: #E5E7EB;
  --section-quote-text-color: #1f2937;
  --section-quote-font-size: 36px;

  color: var(--section-quote-text-color);
  background-color: var(--section-quote-background-color);
}

.section-quote .quote {
  font-size: var(--section-quote-font-size);
  font-weight: light;
  font-style: italic;
}

.section-quote .author {
  text-align: right;
}

/* CTA Section */
.section-cta {
  --section-cta-text-color: #E5E7EB;
  --section-cta-border-radius: 0.5rem;
  --section-cta-margin: 4rem auto;
}

.section-cta .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--section-cta-border-radius);
  padding: var(--section-padding);
  background-color: var(--action-color);
  color: var(--section-cta-text-color);
  margin: var(--section-cta-margin);
}

.section-cta .button {
  background-color: transparent;
  border: 1px solid var(--button-color);
}

/* Footer */
footer {
  color: var(--footer-secondary-color);
  text-align: center;
  padding: var(--section-padding)
}